.left-bar.sticky-top.col-xl-3.col-lg-4.col-md-12
          .left-inner
            .nav-toggler
              img(src="https://demoxml.com/html/kijat-html/images/icons/close-icon.png", alt)
            .left-upper
              .image-box
                .image
                  img(src="https://demoxml.com/html/kijat-html/images/resource/image-1.jpg", alt)
                .social-links
                  .social-btn
                    i.icon +
                  ul.links.clearfix
                    li
                      a(href="#")
                        span.fab.fa-facebook-square
                    li
                      a(href="#")
                        span.fab.fa-instagram
                    li
                      a(href="#")
                        span.fab.fa-twitter-square
                    li
                      a(href="#")
                        span.fab.fa-linkedin
              .info
                .name Graham Walker
                .designation
                  i.dot
                  |  App Developer
            .left-lower
              nav.main-nav
                ul.navigation.scroll-nav
                  li.home.current
                    a(href="#home-section") Home
                  li.resume
                    a(href="#resume-section") Resume
                  li.work
                    a(href="#work-section") Work
                  li.stories
                    a(href="#stories-section") Stories
                  li.contact
                    a(href="#contact-section") Contact